@model Act
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/new.css"/>
</head>
<body>
    <div class="row">
        <div class="col-md-7 text-left">
            <h1>Dojo Activity Center</h1>
        </div>
        <div class="col-md-3 text-right">
            <a href="/dashboard">Home</a>
        </div>
        <div class="col-md-2 text-right">
            <a class="text-right" href="/logout">Logout</a>
        </div>
    </div>
    <h3>Create an Activity</h3>
    <div class="col-md-9">
        <form asp-action="Create" asp-controller="Home" method="post">
            <span asp-validation-for="Title" class="text-danger"></span>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Title">Title:</label>
                    <input type="text" class="form-control" id="Title" asp-for="Title">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Time">Time</label>
                    <input type="text" class="form-control" id="text" asp-for="Time">
                </div>
            </div>
            <span asp-validation-for="Date" class="text-danger"></span>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Date">Date:</label>
                    <input type="Date" class="form-control" id="Date" asp-for="Date">
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Duration">Duration</label>
                    <input type="text" class="form-control" id="Duration" asp-for="Duration">
                </div>
                <div class="form-group col-md-3">
                    <label></label>
                    <select asp-for="Hours" id="Hours" class="form-control">
                        <option selected>Hours</option>
                        <option>Minutes</option>
                        <option>Days</option>
                    </select>
                </div>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Description">Description:</label>
                    <br>
                    <textarea asp-for="Description" id="Description"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create Activity</button>
        </form>
    </div>
</body>
</html>